<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senate Attendance</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/mystyle.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
    <div class="container-fluid">

        <div id="component-header">
            <my-header></my-header>
            
        </div>

        <h2>Attendance</h2>
        <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house. Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most cases, debates continue even if a majority is not present. The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating "aye" or "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In the case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the tiebreaking vote.</p>



        <div id="app">

            <div v-if="loading" class="loader" style="text-align:center">
                <div class="lds-default">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

            </div>

            <div v-else>
                <h3>Senate at a glance</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Party</th>
                            <th>Total number</th>
                            <th>Voted with party in %</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Republican</td>
                            <td>{{statistics.numR}}</td>
                            <td>{{statistics.votedWithPartyR}}%</td>
                        </tr>
                        <tr>
                            <td>Democrat</td>
                            <td>{{statistics.numD}}</td>
                            <td>{{statistics.votedWithPartyD}}%</td>
                        </tr>
                        <tr>
                            <td>Independent</td>
                            <td>{{statistics.numI}}</td>
                            <td>{{statistics.votedWithPartyI}}%</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>{{myTotal}}</td>
                            <td>{{totalPercentage}}%</td>
                        </tr>
                    </tbody>
                </table>

                <h3>Least Engaged (Bottom 10% Attendance)</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Missed Votes</th>
                            <th>% Missed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="politician in statistics.leastEngaged">
                            <td><a v-bind:href="politician.url">{{politician.first_name + " " + (politician.middle_name || "")+ " " + politician.last_name}}</a></td>
                            <td>{{politician.missed_votes}}</td>
                            <td>{{politician.missed_votes_pct}}%</td>
                        </tr>
                    </tbody>
                </table>

                <h3>Most Engaged (Top 10% Attendance)</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Missed Votes</th>
                            <th>% Missed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="person in statistics.mostEngaged">
                            <td><a v-bind:href="person.url">{{person.first_name + " " + (person.middle_name || "")+ " " + person.last_name}}</a></td>
                            <td>{{person.missed_votes}}</td>
                            <td>{{person.missed_votes_pct}}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

   </div>
  
   <div id="component-footer">
          <my-footer></my-footer>
      </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="scripts/config.js"></script>
<script src="scripts/component-header.js"></script>
<script src="scripts/component-footer.js"></script>
<script src="scripts/vuejs_statistics.js"></script>




  

</body>

</html>